*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
h1{
    background-color: rgb(17, 17, 69);
    color: whitesmoke;
    font-size: 3rem;
    height: 4rem;
    gap: 1.5rem;
    row-gap: 2rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 58px;
}
.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 160px;
    margin-top: 30px;
    border-radius: 50%;

}    
.choice:hover{
    background-color: black;
}
img{
    height: 150px;
    width: 150px;
    background-color: #e26997;
    border-radius: 5rem;
}
img:hover{
    cursor: pointer;
    opacity: 0.7;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 20px;
    font-size: 2rem;
}

#user-score, 
#comp-score{
    font-size: 4rem;
}
.btn{
    background-color: rgb(53, 53, 53);
    color: aliceblue;
    border-radius: 1rem;
    display: inline;
    font-size: 1.3rem;
    padding:10px;
    box-shadow: 5px 5px 5px black;
}
.msg_container{
    margin-top: 58px;
}
.msg{
    background-color: rgb(30, 29, 29);
    color: aliceblue;
    border-radius: 1rem;
    display: inline;
    font-size: 2rem;
    padding:10px;
}